.antd-pro-layouts-user-layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    width: 100%;
    background-color: #f0f2f5;
    background-image: url("../../assets/img/loginBg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    align-items:center;/*由于flex-direction: column，因此align-items代表的是水平方向*/
    justify-content: center;/*由于flex-direction: column，因此justify-content代表的是垂直方向*/
  }
  .antd-pro-layouts-user-layout-content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 0 150px;
  }
  .antd-pro-pages-user-login-style-main {
    width: 368px;
    margin: 0 auto;
  }
  .normal-login{
    padding: 40px;
    border-radius: 5px;
    background: #fff;
  }
  .normal-login .login-form-button {
    width: 100%;
  }