.antd-pro-layouts-user-layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    background-color: #f0f2f5;
    background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }
  .antd-pro-layouts-user-layout-content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 0 150px;
  }
  .antd-pro-pages-user-login-style-main {
    width: 368px;
    margin: 0 auto;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }